{include file="public/header" /}
    <!--/sidebar-->
    <div class="main-wrap">
        <div class="result-wrap">
            <div class="result-content">
                <form action="/index/projectup?pid={$res.pid}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="80%">
                        <tbody>
                            <tr>
                                <th>项目名称：</th>
                                <td><input class="common-text" name="projectname" id="projectname" size="50"  type="text" placeholder="项目名称" value="{$res.projectname}"></td>
                                <th>项目时间：</th>
                                <td><input class="common-text" name="projecttime" id="projecttime" size="50"  type="text" placeholder="项目时间" value="{$res.projecttime}"></td>
                            </tr>
                            <tr>
                                <th>项目内容：</th>
                                <td colspan="3"><textarea name="projectcentent" class="common-textarea" id="projectcentent" cols="20" style="width: 82%;" rows="10"></textarea></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>
    </div>
    <!--/main-->
    <script type="text/javascript">
        $("#projectcentent").val('{$res.projectcentent}'); 
    </script>
