{include file="public/header" /}
    <!--/sidebar-->
    <div class="main-wrap">
        <div class="result-wrap">
            <div class="result-content">
                <form action="/index/worknameadd" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="80%">
                        <tbody>
                            <tr>
                                <th>工作经历：</th>
                                <td><input class="common-text" name="name" id="name" size="50"  type="text" placeholder="公司名称"></td>
                                <td><input class="common-text" name="position" id="position" size="5  type="text" placeholder="职位"></td>
                                <td><input class="common-text" name="worktime" id="worktime" size="50"  type="text" placeholder="工作时间度"></td>
                            </tr>
                            <tr>
                                <th>工作内容：</th>
                                <td colspan="3"><textarea name="workcontent" class="common-textarea" id="workcontent" cols="20" style="width: 82%;" rows="10"></textarea></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>
    </div>
    <!--/main-->
